/*
!README.md
!/TeX
/TeX/*.aux
/TeX/*.log
/TeX/*.lot
/TeX/*.lof
/TeX/*.blg
/TeX/*.bcf
/TeX/*.bbl
/TeX/*.toc
/TeX/*.out
/TeX/*.xml
/TeX/*.gz
/TeX/frontespizio.spy
/TeX/sample.bib
/TeX/Chapters/*.aux
/TeX/Chapters/*.log
/PLC-RE/*
!/PLC-RE/
!/PLC-RE/*.py
!/PLC-RE/config.ini
!/PLC-RE/requirements.txt
/PLC-RE/daikon/*
!/PLC-RE/daikon/
!/PLC-RE/daikon/*.py
!/PLC-RE/daikon/Daikon_Invariants/results
/PLC-RE/daikon/Daikon_Invariants/*.csv
/PLC-RE/daikon/Daikon_Invariants/*.dtrace
/PLC-RE/daikon/Daikon_Invariants/*.decls
/PLC-RE/daikon/Daikon_Invariants/*.gz
/PLC-RE/daikon/Daikon_Invariants/*.txt
/PLC-RE/daikon/Daikon_Invariants/*.COPY
/PLC-RE/process-mining/data/*.csv
/PLC-RE/venv/
/PLC-RE/network-analysis
!/PLC-RE/network-analysis
!/PLC-RE/network-analysis/*.py
/PLC-RE/network-analysis/sce/

